<style>
  ul {
  list-style-type: none;
}
  .topics__header {
    text-align: center;
  }

  h1, h2, h3, p {
    color: white;
  }
  .box{
        padding: 15px;
        overflow-y: auto;
        height: 400px;
    }
</style>

<div class="topics">
    <div class="topics__header">
      <h3>All Blogs</h3>
      <hr>
    </div>
    <ul class="topics__list box">
      {% for blog in blogs%}
      <li>
        <h5><a href="{% url 'blog' blog.id %}" class="active">{{blog.title}}</a></h5>
      </li>
      {% endfor %}
    </ul>
  </div>