{% extends 'main.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    #bloglist_component{
        margin-top: 20px;
    }
    #blogs_component{
        margin-top: 20px;
    }
    .card {
      margin-bottom: 20px;
      transition: transform 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      height: 100%; /* Ensure the card takes up full height */
      max-height: 330px; /* Set a maximum height for the card */
      
    }
    .card-img-top {
    width: 100%;
    height: 200px; /* Set a fixed height for the card images */
    object-fit: cover; /* Ensure the images cover the entire space without distortion */
  }
    .card:hover {
      transform: scale(1.05); /* Enlarge the card by 5% on hover */
    }
    .card-body {
        flex-grow: 1; /* Allow the card body to take up remaining space */
    }
    .btn-read-more {
        position: absolute;
        bottom: 10px; /* Adjust as needed */
        left: 50%; /* Center the button horizontally */
        transform: translateX(-50%);
    }
</style>
<div class="container mt-4">
  <div class="row">
    {% for blog in blogs %}
    <div class="col-md-3">
      <div class="card my-5">
        <img src="{{blog.thumbnail.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{blog.title}}</h5>
          <a href="{% url 'blog' blog.id %}" class="btn btn-primary btn-read-more">Read More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>



</div>

{% endblock content %}
